{
	auto_https disable_redirects
	key_type rsa2048
}

https://{$DOMAIN} {
	encode gzip zstd

	request_body {
		max_size 100MB
	}

	reverse_proxy app:8000
}

http://{$DOMAIN} {
	redir https://{$DOMAIN}{uri} 308
}

:80 {
	@domain host {$DOMAIN}
	handle @domain {
		redir https://{$DOMAIN}{uri} 308
	}

	handle {
		encode gzip zstd

		request_body {
			max_size 100MB
		}

		reverse_proxy app:8000
	}
}
