{
  key_type rsa2048
}

{$DOMAIN} {
  encode gzip zstd

  request_body {
    max_size 100MB
  }

  reverse_proxy app:8000
}

http://46.8.220.177 {
  encode gzip zstd

  request_body {
    max_size 100MB
  }

  reverse_proxy app:8000
}
